html {
  width: 2000px;
  height: 2000px;
  overflow: hidden; }

.modal-content {
  padding: 10px 10px 10px 10px;
  background-color: #ffbb90;}

h2, #play{
  font-family: 'Modak', cursive;
}
#play{
  font-size: 20px;
  padding: 5px 25px 5px 25px;
}
.circle {
  background-color: blue;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  transform: translate(200px, 200px) scale(1);
  transition: all 1s;
  position: absolute;
  z-index: 1;
  text-align: center;}

.name {
  display: inline-block;
  vertical-align: middle;
  margin-top: 30%;
  font-family: 'Modak', cursive;
  font-size: 20px;}

.food {
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(600px, 600px); }

.square {
  background-color: black;
  width: 60px;
  height: 60px;
  position: absolute; }

.log{
  background-color: white;}
