html {
  width: 2000px;
  height: 2000px;
  overflow: hidden; }

.circle {
  background-color: blue;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  transform: translate(200px, 200px) scale(1);
  transition: all 1s;
  position: absolute;
  z-index: 1; }

.food {
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(600px, 600px); }

.square {
  background-color: black;
  width: 60px;
  height: 60px;
  position: absolute; }

.log{
  background-color: white;}
